.p {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    width: 100px;
    height: 130px;
    bottom: 43%;
    right: 45%;
    position: fixed;
}

.myDiv {
    border: 5px outset grey;
    background-color: whitesmoke;
    text-align: center;
}

